<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bike_project">
<!--    뭘까-->
    <permission android:name="wonpa.alwaysweb.com.myloctest.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <uses-permission android:name="wonpa.alwaysweb.com.myloctest.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!-- 위치 권한 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 블루투스 권한 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /> <!-- 인터넷 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bike_project">
        <!--네이버-->
        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="rhr29df349" />
        <!--카카오-->
        <meta-data
            android:name="com.kakao.sdk.Appkey"
            android:value="0f820d6930fab33b09ca958e7f0a63e1"/>
        <!--구글-->
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBACkdy-jt1PDspzC0HZ-zcA89sGU_Dcjg"/>

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>


        <uses-library android:name="org.apache.http.legacy"
            android:required="false"/>

        <activity
            android:name=".speedActivity"
            android:exported="true" />

        <activity
            android:name=".serviceActivity"
            android:exported="true" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>